@{
    ViewBag.Title = "CinemaTickets: Замовлення здійснено";
}
<div class="cinemadetails">
<h2>Дякуємо!</h2>
Дякуємо за замовлення квитків на нашому сайті. Перейдіть на свою електронну пошту для отримання квитка.
</div>