<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/CinemaTickets</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/CinemaTickets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityDb" Order="1" Enabled="False">
          <Destination Path="Data Source=|DataDirectory|IdentityDb.mdf;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CinemaTickets.Web.Infrastructure.AppIdentityDbContext, CinemaTickets.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CinemaTicketsDB" Order="2" Enabled="False">
          <Destination Path="Data Source=|DataDirectory|CinemaTicketsDatabase.mdf;Initial Catalog=CinemaTicketsDatabase;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CinemaTickets.Domain.Concrete.EFContext, CinemaTickets.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CinemaTicketsDB-Web.config Connection String">
      <ParameterValue>Data Source=|DataDirectory|CinemaTicketsDatabase.mdf;Initial Catalog=CinemaTicketsDatabase;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDb-Web.config Connection String">
      <ParameterValue>Data Source=|DataDirectory|IdentityDb.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>